<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="assets/styles.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>curso vue 3</title>
</head>
<body>
<div id="app"> 
  <div class="product-display">
    <div class="product-container"> 
      <div class="product-image">
        <img :src="image" alt="img-product">
      </div>
      <div class="product-info">
        <h1>{{ product_title }}</h1>
        <p v-if="inStock >= 10" >in stock</p>
        <p v-else-if="inStock < 10 && inStock >= 1" > almost of out</p>
        <p v-else >out of stock</p>
        <p>$200,00</p>
        <ul>
          <li v-for="detail in details">
            {{detail}}
          </li>
        </ul>
        <div v-for = "variant in variants">{{variant.color}}</div>
      </div>
    </div>
 </div>

</div>

</div>
</body>
</html>

<script>
  const { createApp, ref } = Vue
  createApp({
    setup() {
      return{
        product_title: ref('T-Shirt'),
        image: ref("assets/images/t-shirt-blue.png"),
        inStock: ref(0),
        details: ['50% cotton' , '30% polyester' , '20% woll'],
        variants:[{id:1, color:'blue'},{id:2, color: 'green'}]
      }
    }
  }).mount('#app')
</script>